.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-style{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.display-list{
  list-style-type: none;
  padding:0px;
  
}

.but{
  background-color:transparent;
  border:none;
  cursor: pointer;
  outline:none;
  font-family: "Roboto";
  font-size: 20px;
  font-weight:500;
  margin-left:8px ;

}

.display-list-testcase{
  list-style-type: none;
  padding:0px;
  margin-left:10px;
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 300;
}
.list-style{
  list-style-type: none;
}
.input-style{
  margin-right: 4px;
}

.display-chart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-style-chart{
  text-align: left;
}

.style-span{
  font-family:Roboto;
  font-weight:400;
  font-size:15px;
}